[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "HellEngine/vendor/spdlog"]
	path = HellEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HellEngine/vendor/GLFW"]
	path = HellEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HellEngine/vendor/imgui"]
	path = HellEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "HellEngine/vendor/glm"]
	path = HellEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "HellEngine/vendor/assimp"]
	path = HellEngine/vendor/assimp
	url = https://github.com/jonestristand/assimp
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "ozz-animation"]
	path = ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation/
[submodule "vendor/bullet"]
	path = vendor/bullet
	url = https://github.com/bulletphysics/bullet3
